{% extends 'main.html' %}

{% block content %}

    <!-- Main Section -->
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <h3 style="text-align: center;"> Add New Skill Here: </h3>
                <a class="backButton .skill" href="{% url 'account' %}"><b style="font-size: larger;"> < </b></a>

                <br>

                <form class="form" method="POST" action="">
                    {% csrf_token %}
                    {% for field in form %}
                    <!-- Input:Text -->
                    <div class="form__field">
                        <label for="formInput#text"> Skill {{field.label}}:</label>
                        {{field}}
                    </div>
                    {% endfor %}
            
                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
                </form>
            </div>
        </div>
    </main>

{% endblock content %}